<h1><%= @list.name %></h1>
<p><strong>Movies:</strong></p>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <%= render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark } %>
<% end %>
</ul>
<p><%= link_to 'Back to Lists', lists_path %></p>
